@import '@/theme/variables';
@import '@/theme/mixins';

.menu {
  width: 100%;
  border-radius: 8px;
  background: $background-base;
  padding: 8px;

  &__item {
    padding: 4px 8px;
  }

  &__link {
    text-decoration: none;
    min-height: 40px;

    @include flex;

    gap: 16px;

    color: $link-base;
    transition: color 0.15s ease-in;

    &--active {
      color: $link-hover;
    }

    &:hover {
      color: $link-hover;
    }
  }

  &__label {
    font-size: 1rem;
    font-weight: 700;
  }
}
