.layout {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 8px;

  display: grid;
  grid-template-areas:
    'sidebar main main'
    'sidebar main main'
    'footer footer footer';
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  gap: 8px;
}
