@import '@/theme/variables.scss';

.playlist {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: $background-base;
  padding: 8px 12px;

  &__title {
    height: 40px;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    gap: 8px;

    & > span {
      font-size: 1rem;
      font-weight: 700;
      cursor: default;
    }
  }
}
