$essential-base: #fff;
$essential-subdued: #727272;
$essential-bright-accent: #1ed760;
$essential-negative: #e91429;
$essential-warning: #ffa42b;
$essential-positive: #1ed760;
$essential-announcement: #0d72ea;
