$text-base: #fff;
$text-subdued: #a7a7a7;
$text-bright-accent: #1ed760;
$text-negative: #f15e6c;
$text-warning: #ffa42b;
$text-positive: #1ed760;
$text-announcement: #3d91f4;

$decorative-base: #fff;
$decorative-subdued: #292929;

$link-base: #b3b3b3;
$link-hover: #ffffff;
