@import '@/theme/tokens';

.scroll {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    display: none;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .scroll {
    background-color: transparent;
    transition: background-color 0.5s;

    &:hover {
      background-color: hsla(0, 0%, 100%, 0.3);
    }

    &::-webkit-scrollbar {
      width: 12px;
      background-color: $background-base;
    }

    &::-webkit-scrollbar-track {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      background-color: inherit;
    }
  }
}
