@import '@/theme/variables';
@import '@/theme/mixins';

.sidebar {
  grid-area: sidebar;
  width: 280px;
  height: 100%;

  @include flex;

  flex-direction: column;

  &__section {
    width: 100%;
    border-radius: 8px;
    background: $background-base;
  }
}
